############################
# macOS
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

############################
# Linux
############################

*~

############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

############################
# Secrets
############################

.env*

############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid

############################
# Logs
############################

.tmp
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


############################
# Lockfiles
############################

yarn.lock

############################
# Common build dirs
############################

dist
build

############################
# Node.js
############################

node_modules

############################
# Tests
############################

testApp
coverage

############################
# Webpack
############################

.cache

############################
# Next.js
############################

.next
out

############################
# Storybook
############################

.storybook-static/

############################
# IDEs
############################

.idea
.vscode
